body {
    background-color: #152036;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

p {
    font-size: 18px;
}

.icon {
    margin-right: 5px;
}