.main-flex {
    display: flex;
    justify-content: center;
}

.main-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 30px 50px;
    max-width: 500px;
}

.logo {
    height: 80px;
    width: fit-content;
    margin-bottom: 20px;
}

.form-margin {
    padding: 20px;
    background-color: #1b2a47;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 100%;
}

.form-body {
    padding: 20px;
    background-color: white;
    color: #152036;
    border-radius: 5px;
}

.field-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2px;
}

.caption {
    font-size: 12px;
    font-weight: 400;
    color: gray;
    margin-top: 3px;
}

.btn-login, .btn-register {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.btn-login {
    margin-top: 30px;
}


