.main-flex {
    display: flex;
    justify-content: center;
}

.main-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 30px 50px 0px 50px;
    max-width: 750px;
}

.logo {
    height: 80px;
    width: fit-content;
    margin-bottom: 20px;
}

.form-margin {
    padding: 20px;
    background-color: #1b2a47;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 100%;
}

.form-body {
    padding: 20px;
    background-color: white;
    color: #152036;
    border-radius: 5px;
}

.field-row {
    display: flex;
    gap: 30px;
}

.field-column {
    margin-top: 15px;
    flex: 50%;
}

.field-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2px;
}

.caption {
    font-size: 12px;
    font-weight: 400;
    color: gray;
    margin-top: 3px;
    margin-bottom: 0;
}

.upload-file {
    background-color: #1b2a47;
    border-radius: 5px;
    justify-content: baseline;
    padding: 10px;
    color: white;
    margin: 20px 0;
}

.upload-file p {
    margin-bottom: 0;
}

.upload-form {
    max-width: 100%;
}

.upload-button {
    padding: 10px 15px 0px;
    background-color: #152036;
    margin: 10px;
    border-radius: 5px;
    height: 50px;
    border: none;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    max-width: 92%;
}

.upload-button:hover {
    cursor: pointer;
    background-color: #1b2a47;
}

.send-button {
    padding: 8px 15px;
    background-color: #FFF;
    color: #1b2a47;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 5px;
    height: 50px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.send-button:hover {
    background-color: #152036;
    color: white;
}


.btn-login,
.btn-cancel {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.btn-login {
    margin-top: 30px;
}


@media (max-width: 700px) {
    .field-row {
        display: block;
    }

    .field-column {
        margin-top: 10px;
    }

    .send-button {
        width: 100%;
        margin-left: 0;
    }
}